{% extends 'vbase.html' %}
{% block title %}
    خانه
{% endblock %}
{% block body %}

    {% if user.get_user_type_display == "volunteer" %}
        <nav class="fh5co-nav" role="navigation">
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div style="float: right" class="col-xs-2">
                            <div id="fh5co-logo"><a href="{% url 'home' %}">{{ user.get_full_name|default:user.username }} خوش آمدید<span>.</span></a></div>
                        </div>
                        <div  class="col-xs-10 text-right menu-1">
                            <ul style="float: left">
                                <li class="active"><a href="{% url 'home' %}">پروفایل</a></li>
                                <li><a href="{% url 'charities' %}">موسسات</a></li>
                                <li><a href="{% url 'projects' %}">پروژه ها</a></li>
                                <li><a href="{% url 'mails' %}">نامه</a></li>
                                <li class="btn-cta"><a href="{% url 'logout' %}"><span>خروج</span></a></li>
                                <!--<li class="has-dropdown">
                                    <a href="blog.html">Blog</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Web Design</a></li>
                                        <li><a href="#">eCommerce</a></li>
                                        <li><a href="#">Branding</a></li>
                                        <li><a href="#">API</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li class="btn-cta"><a href="#"><span>Login</span></a></li>
                                <li class="btn-cta"><a href="#"><span>Sign Up</span></a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>  <!-- navigator -->

        <div id="fh5co-practice" class="fh5co-bg-section">
            <div class="container">
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <h2>شخصی</h2>
                    </div>
                </div>
                <div class="row">
                    <a href="{% url 'settings' %}"><div class="col-xs-4 text-center animate-box">
                        <div class="services">
                            <span class="icon">
                                <i class="icon-cog2"></i>
                            </span>
                            <div class="desc">
                                <h3><a href="{% url 'settings' %}">تنظیمات پروفایل</a></h3>
                                <p></p>
                            </div>
                        </div>
                    </div></a>
                    <div class="col-xs-4 text-center animate-box">
                        <div class="services">
                            <span class="icon">
                                <a href="{% url 'my_projects' %}"><i class="icon-bar-graph-2"></i></a>
                            </span>
                            <div class="desc">
                                <h3><a href="{% url 'my_projects' %}">پروژه های من</a></h3>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'volunteer_page' %}"><div class="col-xs-4 text-center animate-box">
                        <div class="services">
                            <span class="icon">
                                <i class="icon-pencil"></i>
                            </span>
                            <div class="desc">
                                <h3><a href="{% url 'volunteer_page' %}">توانایی های من</a></h3>
                                <p></p>
                            </div>
                        </div>
                    </div></a>
                    <!--<div class="col-md-4 text-center animate-box">
                        <div class="services">
                            <span class="icon">
                                <i class="icon-umbrella"></i>
                            </span>
                            <div class="desc">
                                <h3><a href="#">Personal Injury</a></h3>
                                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center animate-box">
                        <div class="services">
                            <span class="icon">
                                <i class="icon-heart"></i>
                            </span>
                            <div class="desc">
                                <h3><a href="#">Medical Neglegence</a></h3>
                                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center animate-box">
                        <div class="services">
                            <span class="icon">
                                <i class="icon-help"></i>
                            </span>
                            <div class="desc">
                                <h3><a href="#">Criminal Defense</a></h3>
                                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                            </div>
                        </div>
                    </div>-
                    <div class="col-md-12 text-center animate-box">
                        <p><a class="btn btn-primary btn-lg btn-learn" href="#">View More</a></p>
                    </div>-->
                </div>
            </div>
        </div>  <!-- personal -->

        <div id="fh5co-counter" class="fh5co-counters">
            <div class="container">
                <div class="fh5co-heading text-center">
                    <h2><br>آمار</h2>
                </div>
                <div class="row">
                    <div class="col-md-3 text-center animate-box">
                        <span class="icon"><i class="icon-user"></i></span>
                        <span class="fh5co-counter js-counter" data-from="0" data-to="74" data-speed="2000" data-refresh-interval="10"></span>
                        <span class="fh5co-counter-label">نیکوکاران فعال</span>
                    </div>
                    <div class="col-md-3 text-center animate-box">
                        <span class="icon"><i class="icon-users"></i></span>
                        <span class="fh5co-counter js-counter" data-from="0" data-to="30" data-speed="2000" data-refresh-interval="10"></span>
                        <span class="fh5co-counter-label">موسسات</span>
                    </div>
                    <div class="col-md-3 text-center animate-box">
                        <span class="icon"><i class="icon-bar-graph2"></i></span>
                        <span class="fh5co-counter js-counter" data-from="0" data-to="224" data-speed="2000" data-refresh-interval="10"></span>
                        <span class="fh5co-counter-label">پروژه ها</span>
                    </div>
                    <div class="col-md-3 text-center animate-box">
                        <span class="icon"><i class="icon-pie-chart"></i></span>
                        <span class="fh5co-counter js-counter" data-from="0" data-to="200" data-speed="2000" data-refresh-interval="10"></span>
                        <span class="fh5co-counter-label">به اتمام رسیده</span>
                    </div>
                </div>
            </div>
        </div>  <!-- Stats -->

    {% elif user.get_user_type_display == "charity" %}

        <nav class="fh5co-nav" role="navigation">
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div style="float: right" class="col-xs-2">
                            <div id="fh5co-logo"><a href="{% url 'home' %}">{{ user.get_full_name|default:user.username }} خوش آمدید<span>.</span></a></div>
                        </div>
                        <div  class="col-xs-10 text-right menu-1">
                            <ul style="float: left">
                                <li class="active"><a href="{% url 'home' %}">پروفایل</a></li>
                                <li><a href="{% url 'volunteers' %}">نیکوکاران</a></li>
                                <li><a href="{% url 'projects' %}">پروژه ها</a></li>
                                <li><a href="{% url 'mails' %}">نامه</a></li>
                                <li class="btn-cta"><a href="{% url 'logout' %}"><span>خروج</span></a></li>
                                <!--<li class="has-dropdown">
                                    <a href="blog.html">Blog</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Web Design</a></li>
                                        <li><a href="#">eCommerce</a></li>
                                        <li><a href="#">Branding</a></li>
                                        <li><a href="#">API</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li class="btn-cta"><a href="#"><span>Login</span></a></li>
                                <li class="btn-cta"><a href="#"><span>Sign Up</span></a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>  <!-- navigator -->

        <div id="fh5co-practice" class="fh5co-bg-section">
            <div class="container">
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <h2>شخصی</h2>
                    </div>
                </div>
                <div class="row">
                    <a href="{% url 'settings' %}"><div class="col-xs-6 text-center animate-box">
                        <div class="services">
                            <span class="icon">
                                <i class="icon-cog2"></i>
                            </span>
                            <div class="desc">
                                <h3><a href="{% url 'settings' %}">تنظیمات پروفایل</a></h3>
                                <p></p>
                            </div>
                        </div>
                    </div></a>
                    <div class="col-xs-6 text-center animate-box">
                        <div class="services">
                            <span class="icon">
                                <a href="{% url 'my_projects' %}"><i class="icon-bar-graph-2"></i></a>
                            </span>
                            <div class="desc">
                                <h3><a href="{% url 'my_projects' %}">پروژه های من</a></h3>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  <!-- personal -->

        <div class="container">
        <div class="choose animate-box fadeInUp animated-fast">
			<div class="fh5co-heading text-center">
				<h2><br>امتیازات</h2>
            </div>
			<div class="progress">
				<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
				برایند رضایت 50%
				</div>
			</div>
			<div class="progress">
				<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:80%">
				مسئولیت پذیری 80%
				</div>
			</div>
			<div class="progress">
				<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:70%">
				زمان پاسخگویی 70%
				</div>
			</div>
			<div class="progress">
				<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:40%">
				نرخ موفقیت 40%
				</div>
			</div>
            <br>
		</div>
    </div> <!-- Ratings -->

    {% endif %}
{% endblock %}