{% extends 'base.html' %}

{% block body %}
    <br/>
    <br/>
    <div style="text-align: center;width: 300px; margin:auto;border:thin solid black">
        <br/>
        <form method="post">
            {% csrf_token %}
            {{ form }}
                <button type="submit" class="btn btn-primary btn-block" style="max-width: 100px; margin:auto"> Login  </button>
            <br/>
        </form>
        <a style="float: right;margin: auto" href="{% url 'charity_signup' %}" class="float-left btn btn-outline-primary">charity signup</a>
        <a style="float: right;margin: auto" href="{% url 'volunteer_signup' %}" class="float-right btn btn-outline-primary">volunteer signup</a>
    </div>
{% endblock %}
